.chromeextensionpopup {
  width: 500px;
  height: 500px;
  line-height: 25px;
  z-index: 999999999;
  background: white;
  border: solid 3px black;
  position: absolute;
  text-align: center;
}

.custom-wiget {
  width: 500px;
  top: 40px;
  right: 40px;
  z-index: 9999;
  position: fixed;
  background: #000;
}

.custom-wiget .toggle, .custom-wiget .handle {
  width: 32px;
  height: 32px;
  top: -35px;
  right: -6px;
  opacity: 1;
  padding: 3px;
  font-size: 25px;
  position: absolute;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-wiget .handle {
  right: 26px;
  cursor: move;
}